/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo */
body {
    font-family: Arial, sans-serif;
}

/* Container geral */
.container {
    display: flex;
    height: 100vh;
}

/* Menu lateral */
.toggle {
    font-size: 36px;
    cursor: pointer;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    color: white;
}

.sidebar {
    width: 250px;
    background-color: #808080;
    color: white;
    padding: 10px;
    transition: 0.3s;
}

.sidebar.close .toggle {
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
}

.sidebar.close {
    width: 80px;
    padding-left: 10px;
    padding-right: 10px;
}

.sidebar.close .text {
    opacity: 0;
    pointer-events: none;
}

.sidebar h2 {
    margin-bottom: 20px;
}

.sidebar ul {
    list-style: none;
}

.sidebar li {
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: #6e6e6e;
    border-radius: 5px;
    transition: 0.3s;
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: flex-start;
    overflow: hidden;
}

.sidebar li:hover {
    background-color: #5a5a5a;
}

.sidebar.close li {
    justify-content: center;
    gap: 0;
}

.sidebar.close li .text {
    display: none;
}

.sidebar.close li {
    justify-content: center;
    padding: 10px 0;
}

.sidebar.close li i {
    margin: 0;
    opacity: 1;
    visibility: visible;
}

.sidebar i {
    font-size: 20px;
    min-width: 30px;
    text-align: center;
    flex-shrink: 0;
}

.sidebar .text {
    white-space: nowrap;
    transition: opacity 0.2s;
}

/* Conteúdo */
.content {
    flex: 1;
    background-color: #0b1f3a;
    color: white;
    padding: 30px;
}